.sp-only{
    display: none;
}


.scroll{
    opacity: 0;
    transition: all 0.5s ease-out;
}
.scroll-fade{
    opacity: 1;
}

.ex-link{
    margin-right: 20px;
}
.ex-link:after{
    content: "\f35d";
    font-family: FontAwesome;
    color: #333333;
    margin-left: 5px;
}

#a-result{
    background-color: #FFFC67;
    padding: 5px 0;
    font-size: 20px;
    text-align: center;
}

.inpage-title{
    background-color: #592805;
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0 0 0;
    padding: 15px 0;
    color: white;
    text-align: center;
}

/*1*/
.a-title{
    background-image: url("./2021a_background_pc.webp");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px 0;
}
#a-title-team{
    display: inline-block;
    width: 250px;
    border: solid 3px white;
    padding: 10px 0;
    font-size: 25px;
    font-weight: 600;
    color: white;
    
}
#title-img{
    display: inline-block;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}
.a-title h3{
    margin: 20px 10%;
    width: 80%;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow:
        3px 3px 3px #E45F2C, -3px -3px 3px #E45F2C,
        -3px 3px 3px #E45F2C,  3px -3px 3px #E45F2C,
        3px 0px 3px #E45F2C, -3px -0px 3px #E45F2C,
        0px 3px 3px #E45F2C,  0px -3px 3px #E45F2C;
}

/*2*/
#azuki,#daizu{
    color: white;
    text-align: center;
    padding: 30px 0;
}
#azuki{
    background: linear-gradient(#F6BCB7, #000000);
}
#daizu{
    background: linear-gradient(#FCFDA9, #000000);
}
.dog-upper{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}
.dog-uppper-top{
    width: 300px;
}
.dog-image{
    width: 300px;
    max-width: 90%;
    margin: 20px 0;
}
.name-point{
    display: inline-block;
    font-size: 20px;
    width: 100%;
}
.name-sub{
    display: inline-block;
    font-size: 30px;
}
.name-main{
    display: inline-block;
    font-size: 50px;
}
.point{
    width: calc(100% - 320px);
}
.point h4{
    font-size: 20px;
    text-align: left;
}
.point-inner{
    display: inline-block;
    width: calc(100% - 20px);
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    color: #333333;
    font-size: 20px;
    text-align: left; 
}
.point-inner i{
    font-size: 30px;
    margin-right: 10px;
}
.dog-img-area{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.dog-img-area img{
    width: calc(50% - 5px);
}
#daizu-h4{
    color: #333333;
}


@media screen and (max-width: 820px),screen and (max-height: 700px),print{
    .sp-only{
        display: block;
    }
    .pc-only{
        display: none;
    }

    /*1*/
    .a-title{
        background-image: url("./2021a_background_sp.webp");

    }
    .a-title h3{
        margin: 10px 2.5%;
        width: 95%;
        font-size: 35px;
    }
    #a-title-team{
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        color: #333333;
    }

    .dog-upper{
        flex-wrap: wrap;
    }
    .dog-uppper-top{
        width: 100%;
    }
    .point{
        width: 100%;
        margin-bottom: 20px;
    }
    #daizu-h4{
        color: white;
    }

}